.login-input-error{
  color: red
}

.login-header{
  margin: 0px 10px;
}

#log-in-demo:hover{
background-color: rgb(255, 255, 255);
}

.login-modal-div{
  align-items: center;
  background-color: #f1eeeb;
  border-radius: 10px;
  width: 250px;
  border: 2px solid rgb(161, 101, 56);
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.login-modal-form label{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.login-modal-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 15px;
}

.login-form-submit-button, .demo-submit-button {
  height: 32px;
  margin-top: 7px;
  background-color: rgb(255, 255, 255);
  border-radius: 31px;
  font-weight: bold;
}

.demo-submit-button{
  width: 225px;
}

.login-form-submit-button:hover,
.demo-submit-button:hover{
  background-color: rgb(246, 214, 159);
  cursor: pointer;
}

.demo-user-div{
  margin: 10px;
}

.no-acc-div{
  display: flex;
  flex-direction: column;
}

.no-acc{
  margin: 5px;
}

.create-acc-btn{
  color: #6e6efb;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

#modal-content{
  background-color: #ffffff;
  border: 2px solid #f2efec;
  border-radius: 10px;
  margin: 10px;
}
