.task-fields{
  color: #636363;
  margin: 15px 10px;
}

.task-name{
  color: #da8235;
  margin: 15px;
  font-weight: lighter;
  font-family: serif;
  letter-spacing: 2px;
}

span{
  color:#636363;
}

.edit-delete-btn-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-delete-btn{
  background-color: #fa8c74;
  border: 1px white solid;
  border-radius: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.edit-delete-btn:hover{
  background-color: #f8b1a1;
  /* background-color: #262220; */
}

.single-task-container{
  width: 300px;

}

.add-cancel-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

.save-cancel-task-btn{
  background-color: #fa8c74;
  border: 1px white solid;
  border-radius: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.save-cancel-task-btn:hover{
  /* background-color: #262220; */
  background-color: #f8b1a1;
}

.span-properties{
  color: #fa8c74;
}

.task-edit-delete-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
}
