
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.title-section{
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.title {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family:  'monospace';
  font-weight: lighter;
  color: #403234;
  letter-spacing: 15px;
  font-size: 65px;
  font-family: 'Style Script', cursive;
}

.tasks-profile-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  align-items: stretch;
}

.tasks-link{
  text-decoration: none;
  font-size: 16px;
  background-color: #262220;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.tasks-link:hover{
  cursor: pointer;
  background-color: #413e3d;
}

.profile-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.profile-dropdown.hidden {
 display: none;
}

ul.profile-dropdown{
  gap: 15px;
  /* width: 100%; */
}

.profile-dropdown{
  padding: 0px 10px ;
  position: absolute;
  right: 30px;
  top: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid rgb(204, 204, 204);
  box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
  height: 150px;
  width:fit-content;
  border-radius: 15px;
  background-color: #97978d;
  color: #262220
}

.profile-dropdown-username {
  margin: 0px
}

.logout-btn{
  border: 1px solid #f7f1f0;
  background-color: transparent;
  border-radius: 10px;
  width: 100%;
  padding: 7px 0px;
  color: #262220;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn:hover{
  background-color: #555555;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.signup-login-btn {
  border: 1px solid #f7f1f0;
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  padding: 7px 0px;
  color: #262220;
  font-weight: bold;
  gap: 20px;
}

.signup-login-btn-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-nouser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px;
}

.logo{
  width: 90px;
}

.Sign-up-btn{
  background-color: #7d341e;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.Sign-up-btn:hover{
  background-color: #552314;
}

.signup-login-btns{
  display: flex;
  gap: 30px;
}

/* .landing-page {
  height: 100vh;
} */

.text1{
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Style Script', cursive;
  color: #2E475D;
}

.center-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

span.quote{
  font-size: 50px;
  text-align: center;
  color: #2d4a42;
}

span.author{
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  color: #2d4a42;
  font-weight: lighter;
}

.inner-text-header{
  text-align: center;
  padding: 0px 20px;
  margin-top: 0px;
  color: #923112;
  font-family: ui-monospace;
  font-weight: lighter;
}
