.landing-page{
  height: 100vh;
}

.content{
  height: 40vh;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.title-section{
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  gap:10px;
}

.title {
  text-decoration: none;
  cursor: default;
  color: #f9f9f9;
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 100px;
  /* font-family: 'Style Script', cursive; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Agbalumo'; */
}

.tasks-profile-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  align-items: flex-start;
}

.tasks-link{
  text-decoration: none;
  font-size: 16px;
  background-color: #654a4e;
  color: whitesmoke;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.tasks-link:hover{
  cursor: pointer;
  background-color: #413e3d;
}

.profile-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #654a4e;
}

.profile-btn:hover{
  color: #413e3d;
}

.profile-dropdown.hidden {
 display: none;
}

ul.profile-dropdown{
  grid-gap: 15px;
  gap: 15px;
  z-index: 999;
}

.profile-dropdown{
  padding: 0px 10px ;
  position: absolute;
  right: 30px;
  top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid rgb(204, 204, 204);
  box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
  height: 150px;
  width:fit-content;
  border-radius: 15px;
  background-color: #d4ae9d;
  color: #262220;

}

.profile-dropdown-username {
  margin: 0px
}

.logout-btn{
  border: 1px solid #f7f1f0;
  background-color: #dcc2c2;
  border-radius: 10px;
  width: 100%;
  padding: 7px 0px;
  color: #262220;
  font-weight: bold;
  cursor: pointer;
}

.logout-btn:hover{
  background-color: #a07d7d;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.signup-login-btn {
  border: 1px solid #f7f1f0;
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  padding: 7px 0px;
  color: #262220;
  font-weight: bold;
  gap: 20px;
}

.signup-login-btn-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-nouser {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: baseline;
  padding: 0px 20px;
  grid-gap: 20PX;
  gap: 20PX;
  mix-blend-mode: color-dodge;
  font-size: xx-large;
}

.logo{
  width: 60px;
}

.Sign-up-btn{
  /* background-color: #7d341e; */
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}
.Sign-up-btn:hover{
  background-color: #491d0f;
}

.signup-login-btns{
  display: flex;
  gap: 30px;
}

.text1{
  margin: auto;
  width: 640px;
  padding: 50px;
  padding-top: 250px;
  /* font-family: 'Style Script', cursive; */
  font-family: 'Playfair Display', serif;
  color: #2E475D;
  mix-blend-mode: color-dodge;
}

.center-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

span.quote{
  font-size: 33px;
  text-align: center;
  color: #fafafa;
  opacity: 1;
  font-family: 'Parisienne', cursive;
}

/* span.author{
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  color: #2d4a42;
  font-weight: lighter;
} */

.inner-text-header{
  margin-top: 0px;
  color: #acacac;
  /* font-family: ui-monospace; */
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  /* text-wrap: balance; */
}


#bg {
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  height: 100%;
  left: 0;
  opacity: .90;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.32);
  }
  #bg div {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 150%; }
    #bg div.visible {
      -moz-animation: bg 45s linear infinite;
      -webkit-animation: bg 45s linear infinite;
      -ms-animation: bg 45s linear infinite;
      animation: bg 45s linear infinite;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      #bg div.visible.top {
        z-index: 1; }
      @media screen and (max-width: 1280px) {
        #bg div.visible {
          -moz-animation: bg 29.25s linear infinite;
          -webkit-animation: bg 29.25s linear infinite;
          -ms-animation: bg 29.25s linear infinite;
          animation: bg 29.25s linear infinite; } }
      @media screen and (max-width: 736px) {
        #bg div.visible {
          -moz-animation: bg 18s linear infinite;
          -webkit-animation: bg 18s linear infinite;
          -ms-animation: bg 18s linear infinite;
          animation: bg 18s linear infinite; } }
    #bg div:only-child {
      -moz-animation-direction: alternate !important;
      -webkit-animation-direction: alternate !important;
      -ms-animation-direction: alternate !important;
      animation-direction: alternate !important; }
  body.is-preload #bg {
    opacity: 0; }

@-moz-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@-webkit-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@-ms-keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

@keyframes bg {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); } }

.empty-div{
  height: 150px;
}
