.handle-delete-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.confirm-delete{
  background-color: #fa8c74;
  border: 1px white solid;
  border-radius: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.confirm-delete:hover{
  background-color: #f8b1a1;
  border: 1px white solid;
  border-radius: 10px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.delete-header{
  color: #f18870;
  padding: 0px 10px;
  text-align: center;
}
