.signup-modal-div {
  align-items: center;
  background-color: #f1eeeb;
  border-radius: 10px;
  width: 300px;
  border: 2px solid rgb(161, 101, 56);
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sign-up-header{
  margin-top: 0px;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.sign-up-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-form-submit-btn:hover{
  background-color: rgb(246, 214, 159);
  cursor: pointer;
}

.signup-form-submit-btn {
  /* height: 32px;
  margin-top: 10px; */
  background-color: rgb(255, 255, 255);
  border-radius: 31px;
  font-weight: bold;
  color: hsl(25.74deg 86.85% 54.72%);
  border: 1px solid hsl(25.74deg 86.85% 54.72%);
}

.error-msg{
  color:red;
}

#modal-content{
  border: 2px solid white;
}
