.task-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  grid-gap: 10px;
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
}

#modal-content {
  background-color: #ffffff;
  border: 1px solid #f9f8f7;
  border-radius: 10px;
  margin: 10px
}

.task-form-container{
  margin: 10px;
  border: 2px solid rgb(131 63 4);
}

.labels {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  gap: 8px;
  font-size: 18px;
  color: #f7f3f5;
}

.task-form-modal{
  border: 1px solid #f7f1f0;
  border-radius: 10px;
}

.add-task-btn{
  border: 1px solid #050505;
  background-color: #fa8c74;
  border-radius: 10px;
  width: -webkit-fill-available;
  padding: 10px 10px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.add-task-btn:hover{
  /* background-color: #262220; */
    background-color: #f8b1a1;
}

.task-name-input {
  width: 296px;
  height: 36px;
  font-size: 18px;
}

.label-deadline{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #f7f3f5;
  gap: 10px;
  padding-bottom: 20px;
}

.time{
  width: fit-content;
}

#time-select{
  width: fit-content;
}


#standard-basic{
  color: #6d6c6c;
  border-bottom: 1px solid #fa8c74;

}
#standard-basic-label{
  color: #fa8c74;
  font-size: 25px;
}

#demo-simple-select-label{
  color: #fa8c74;
  font-size: 25px;
}

#demo-simple-select{
  font-size: 15px;
  padding-top: 20px;
  border-bottom: 1px solid #fa8c74;
}

#demo-select-div{
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: calc(50% - 0.5em);
  pointer-events: none;
  color: rgb(255 255 255);
}
