.note-container{
  width: 300px;
  padding: 15px 10px;
}

.note-header{
  color: #f8b1a1;
  text-decoration: underline;
}

.note{
  color: #f7f3f5;
  overflow-wrap: break-word;

}
/* #textarea{
  max-width: 80%;
} */
