.note-container{
  width: 300px;
  padding: 15px 10px;
}

.note-header{
  color: #fa8c74;
  text-decoration: underline;
  margin-bottom: 10px;
}

.note{
  color: #636363;
  overflow-wrap: break-word;
  margin: 0px;
}

/* #textarea{
  max-width: 80%;
} */
