.tasks-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.create-task-btn {
  border: 1px solid #2f2f2f;
  background-color: #bacbd5;
  border-radius: 50px;
  width: 100px;
  padding: 10px 10px;
  color: #3e3e3e;
  font-weight: bold;
  cursor: pointer;
}

.create-task-btn:hover{
  background-color: #96bbd0;
}

.body {
  margin-top: 50px
}

.tasks-header {
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Agbalumo';
  font-weight: 400;
  color: #013328;
  /* margin-bottom: 50px;
  margin-top: 70px; */
  font-size: 52px;
}

.category-header-personal {
  font-family: 'Playfair';
  font-size: 35px;
  margin: 15px 0px;
  /* margin-top: 80px; */
  color: #E2632C;
}
.category-header-work {
  font-family: 'Playfair';
  font-size: 35px;
  margin: 15px 0px;
  margin-top: 45px;
  color: #1c6e27;
}

.category-header-school {
  font-family: 'Playfair';
  font-size: 35px;
  margin: 15px 0px;
  margin-top: 45px;
  color: #8992e9;
}

.task-btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  /* color: #54494b; */
  color:#000000 ;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Syne';
  font-weight: lighter;
  font-size: 30px;
}

.task-list {
  font-size: 25px;
  border-bottom: 1px solid #6d6c6c;
  padding: 10px 0px;
}

/* .add-task-btn-container{
  padding-top: 40px;
} */

.title-task-index{
  text-decoration: none;
  cursor: default;
  color: #654a4e;
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 70px;
  /* font-family: 'Style Script', cursive; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Agbalumo'; */
  margin-top: 0px;
}

.tasks-index{
  mix-blend-mode: darken;

}
